<div class = "container">
<%- if 	@account.errors.any? %>
<div class="alert alert-danger">
	<h4 class="alert-heading">Oh Noooooooo! </h4>
	<p>Recuerda ingresar todos los datos </p>
</div>
<%end%>

<p>Ingresa tus datos</p>

<%= form_for :account, url: {controller:"accounts", action: "create"} do |f| %>

<%= f.label :nombre %><br>
<%= f.text_field :nombre, class: 'form-control' %>
<br>
<%= f.label :contrasena %><br>
<%= f.text_field :contrasena, class: 'form-control' %>
<br>
<%= f.label :tipo %><br>
<%= f.text_field :tipo, class: 'form-control' %>
<br><br><br>
<%= f.submit 'crear', :class => 'btn btn-primary'%>	
<% end %>

</div>