<div class="container" style="margin-top: 100px">
	<%= @gg.each do |pedido|%>

	<ul class="list-group">
		<li class="list-group-item list-group-item-primary bg-success"> <%=pedido.codigo%> </li>
		<li class="list-group-item list-group-item-primary"> <%=pedido.material%></li>
		<li class="list-group-item list-group-item-primary"> <%=pedido.cantidad%></li>
		<li class="list-group-item list-group-item-primary"> <%=pedido.estado%></li>
		<li class="list-group-item list-group-item-primary"> <%=pedido.solicitante%></li>
		<li class="list-group-item list-group-item-primary"> <%=pedido.detalles%></li>
		<li class="list-group-item list-group-item-primary"> <%=link_to 'editar', action: "edit", :id => pedido.id %> 
			<%= link_to 'eliminar', data: {confirm: 'desea borrar esta cuenta?'}, action: "destroy", :id => pedido.id %></li><br>

	</ul>

<%end%>

</div>