<div class = "jumbotron bg-secondary" style="margin-left: 100px">
<%- if 	@pedido.errors.any? %>
<div class="alert alert-danger">
	<h4 class="alert-heading">Oh Noooooooo! </h4>
	<p>Recuerda ingresar todos los datos </p>
</div>
<%end%>

<h1><strong>Datos de producto y provedor</strong></h1>

<%= form_for :compra, url: {action: "create"} do |f| %>

<h3><%= f.label :producto %><br></h3>
<%= f.text_field :producto, class: 'form-control' %>
<h3><%= f.label :provedor %><br></h3>
<%= f.text_field :provedor, class: 'form-control' %>
<h3><%= f.label :precio %><br></h3>
<%= f.text_field :precio, class: 'form-control' %>
<br>
<%= f.submit 'Agregar', :class => 'btn btn-primary'%>	
<% end %>

</div>